@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-dark-prim-gr: #0d0817;
	--bg-dark-sec-gr: #070212;
}

body {
	min-height: 100vh;
	background: radial-gradient(ellipse at top, #2e305f, var(--bg-dark-prim-gr)),
		radial-gradient(ellipse at bottom, var(--bg-dark-sec-gr), #480966);
	color: white;
}
