@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #12a481;
  --dark-primary: #0b0b0b;
  --dark-secondary: #0f0f0f;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-container {
  background: var(--dark-secondary);
}

.home-title {
  font-family: 'Titan One', sans-serif;
  font-size: 2.2rem;
  color: white;
}

.home-skills-tagline {
  color: #c2c2c2;
}

.home-title .my-name {
  font-size: larger;
  color: var(--theme-color);
}

.social-icon:hover {
  color: var(--theme-color);
}

.sidebar .page-links span:hover {
  color: var(--theme-color);
}
.sidebar .link-container {
  background: var(--theme-color);
}

.sidebar {
  background: var(--dark-primary);
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.2rem;
}
